
langchain
langchain-core
langchain-community
langchain-mistralai
langchain-chroma

mistralai
python-dotenv


chromadb


sentence-transformers


pypdf
docx2txt
unstructured

tiktoken

fastapi
uvicorn
python-multipart


requests
httpx


numpy
pandas


ragas


ipython